<div class='panel-board'>
	<div class='button display-mode-toggle'>
		<div class='decoration-wrapper left'>
			<div class='display-toggle-decoration left-top'></div>
			<div class='display-toggle-decoration left-bottom'></div>
		</div>
		<p>Display Mode</p>
		<div class='decoration-wrapper right'>
			<div class='display-toggle-decoration right-top'></div>
			<div class='display-toggle-decoration right-bottom'></div>
		</div>
	</div>
	<div class='panel-grid-wrapper'>
		<div class='panel-grid-space'>
			<div class='panel top-header'>
				<div class='panel-header'>
					<div class='header-icon'></div>
				</div>
				<div class='panel-body'></div>
			</div>
			<div class='panel side-header'>
				<div class='panel-header'>
					<div class='header-icon git'></div>
				</div>
				<div class='panel-body'></div>
			</div>
		</div>
	</div>
</div>