<div class='panel-board'>
	<div class='button display-mode-toggle'>
		<div class='decoration-wrapper left'>
			<div class='display-toggle-decoration left-top'></div>
			<div class='display-toggle-decoration left-bottom'></div>
		</div>
		<p>Display Mode</p>
		<div class='decoration-wrapper right'>
			<div class='display-toggle-decoration right-top'></div>
			<div class='display-toggle-decoration right-bottom'></div>
		</div>
	</div>
</div>