<div class='side-board'>
	<div class='button side-board-toggle'>
		<div class='toggle-button-decoration'></div>
		<div class='toggle-button-decoration'></div>
	</div>
	<div class='app-logo'></div>
	<ul class='options-list'>
		<li class='button side-button refresh'><p>Refresh</p></li>
		<li class='button side-button edit-config'><p>Edit</p></li>
		<li class='button side-button self-destruct'><p>OH SH*T</p></li>
	</ul>
</div>
