<div class='side-board'>
	<div class='button side-board-toggle'>
		<div class='toggle-button-decoration'></div>
		<div class='toggle-button-decoration'></div>
	</div>
	<div class='app-logo'></div>
	<ul class='options-list'>
		<li class='button side-button refresh'><p>Refresh</p></li>
		<li class='button side-button edit-config'><p>Edit</p></li>
		<li class='scroll-speed-controller'>
			<h1 class='scroll-controller-title'>Adjust Scroll Speed</h1>
			<form class='scroll-controller-form' method='post' action=''>
				<div class='button side-button scroll-speed up'><p>+</p></div>
				<input class='speed-indicator' type='text' name='speed-value' value='1'/>
				<div class='button side-button scroll-speed down'><p>-</p></div>
			</form>
		</li>
		<li class='button side-button self-destruct'><p>OH SH*T</p></li>
	</ul>
</div>
