<div class='button side-menu-toggle'></div>
<div class='side-board'>
	<div class='app-logo'></div>
	<ul class='options-list'>
		<li class='button side-button edit-config'></li>
		<li class='button side-button'></li>
		<li class='button side-button'></li>
	</ul>
</div>
