<div class='side-board'>
	<div class='button side-board-toggle'>
		<div class='side-toggle-decoration'></div>
		<div class='side-toggle-decoration'></div>
	</div>
	<div class='app-logo'></div>
	<ul class='options-list'>
		<li class='button side-button refresh'><p>Refresh</p></li>
		<li class='button side-button edit-config'><p>Edit</p></li>
		<li class='scroll-speed-controller'>
			<h1 class='scroll-controller-title'>Scroll Speed</h1>
			<div class='scroll-controller-form' method='get'>
				<div class='button side-button scroll-speed up'><p>+</p></div>
				<input class='speed-indicator' type='number' placeholder='SPEED' max='20' min='-20' value='1'/>
				<div class='button side-button scroll-speed down'><p>-</p></div>
			</div>
		</li>
		<li class='button display-mode-toggle'><p>Display Mode</p></li>
		<li class='button side-button self-destruct'><p>SELF DESTRUCT</p></li>
	</ul>
</div>
