<div id='autoscroll' class='swizzle-board'>
	<ul class='swizzle-list'>
		<% @swizzleHTTPHashArray.each do |swizzle| %>
			<li class='swizzle-status'>
				<a href=<%=swizzle[:link]%>>
					<div class='swizzle-title'>
						<h1><%= swizzle[:title] %></h1>
					</div>
				</a>
				<div class='swizzle-data'>
				<% swizzle[:data].each do | line | %>
					<!--<a id='copy-description'>--><p id='description'><%= line %></p><!-- </a> -->
				<% end %>
					<div class='swizzle-branch'>
						<h1><%= swizzle[:branch] %></h1>
					</div>
				</div>
			</li>
		<% end %>
	</ul>
</div>