<div class='app-page'>
	<div class='side-wrapper menu-closed'>
		<%= render 'side_board' %>
	</div>
	<div class='main-wrapper'>
		<%= render 'swizzle_board' %>
		<%= render 'panel_board' %>
	</div>
</div>
