// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
/* Reset code end */

$toggleTime: 200ms;
$openMenuWidth: 300px;
$closedMenuWidth: 30px;

@font-face {
	font-family: 'Digital Dream';
	src: font-url('DIGITALDREAMFATSKEW.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pro-Font Windows';
	src: font-url('ProFontWindows.ttf');
	font-weight: normal;
	font-style: normal;
}

.button{
	position: relative;
	width: 100px;
	height: 50px;
	border: 3px solid #000;
	border-radius: 5px;
	background: -webkit-linear-gradient(top, #FFF, #000 80%);
	background: linear-gradient(top, #FFF, #000 80%);
	text-align: center;
	box-shadow: #000 10px 10px 10px;
	font-family: 'Digital Dream', 'sans serif';
	font-size: 15pt;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	cursor: pointer;

	&:hover {
		background: -webkit-linear-gradient(top, darken(#FFF, 50%), #000 80%);

		p {
			text-shadow: #000 0px -3px 0px;
		}
	}

	p {
		position: relative;
		top: 30%;
		text-shadow: #000 0px -2px 0px;
	}

	&.side-board-toggle {
		display: inline-block;
		position: relative;
		width: $closedMenuWidth - 4px;
		height: 100%;
		border: 2px solid #000;
		border-top: none;
		border-bottom: none;
		border-radius: 0;
		box-shadow: #000 -5px 0px 10px;
		-webkit-transition: left $toggleTime;
		transition: left $toggleTime;
		left: $closedMenuWidth;
		margin-top: -15px;
		float: right;
		background: -webkit-linear-gradient(right, #FFF, #383838 80%);
		background: linear-gradient(right, #FFF, #383838 80%);

		.toggle-button-decoration {
			display: inline-block;
			position: relative;
			width: 20%;
			height: 90%;
			margin-top: 150%;
			margin-left: -5px;
			margin-right: -7px;
			box-shadow: #000 0px 0px 10px;
			border-radius: 10px;
		}
	}

	&.side-button {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;

		&.scroll-speed {
			position: relative;
			width: 50px;
			height: 50px;
			margin: 0;

			&.up {
				margin-bottom: 5px;
			}

		}

		&.self-destruct {
			width: 90%;
			bottom: -250px;
			background: #000 url("swizzle_error.png") center repeat-x;
			background-size: 75px;

			&:hover {
				background: #F00;
			}

			p {
				padding-left: 18px;
				padding-top: 3px;
			}
		}
	}

	&.display-mode-toggle {
		width: 100%;
		height: 40px;
		margin-top: -3px;
		border-left: none;
		border-right: none;
		background: -webkit-linear-gradient(top, #FFF, #383838 90%);
		background: linear-gradient(top, #FFF, #383838 90%);
		border-radius: 0;
		box-shadow: #000 0px 7px 15px;

		&:hover {
			color: white;
			background: #000;

			p {
				text-shadow: yellow 0px 0px 15px;
			}
		}

		p {
			text-shadow: #000 5px 4px 5px;
		}
	}
}

::-webkit-scrollbar {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: inherit;
	height: inherit;
	overflow: hidden;
	font-family: 'Arial', 'Helvetica', 'sans-serif';

	.app-page {
		position: relative;
		width: inherit;
		height: inherit;
		background: -webkit-radial-gradient(white, blue);
		background: radial-gradient(white, blue);
		background: lightblue url('main_background.png') repeat;

		.side-wrapper{
			position: absolute;
			left: 0px;
			width: $openMenuWidth;
			height: inherit;
			float: left;
			color: white;
			text-align: center;
			background-color: #333;
			background: #000 url('black_lozenge/black_lozenge_@2X.png') repeat;
			z-index: 10;
			-webkit-transition: left $toggleTime;
			transition: left $toggleTime;

				&.menu-closed {
					left: -($openMenuWidth - $closedMenuWidth);
				}

			.side-board {
				position: relative;
				width: 90%;
				height: 100%;
				margin: 0px;
				border-right: 3px solid #000;

				.app-logo {
					position: relative;
					width: 80%;
					height: 175px;
					margin-top: 15px;
					margin-left: auto;
					margin-right: auto;
					background: #000 url('dashboard_icon.png') center no-repeat;
					background-size: 150px;
					border: 3px solid #000;
					border-radius: 10px;
					text-align: center;
					color: black;
					border: 2px double #FFF;
					box-shadow: #000 10px 10px 10px;
					-webkit-transition: -webkit-transform 100ms;
					transition: -webkit-transform 100ms;

					&:hover {
						background: #FFF url('dashboard_icon.png') center no-repeat;
						-webkit-transform-origin: 50% 50%;
						-webkit-transform: rotate(10deg);
						transform-origin: 50% 50%;
						transform: rotate(10deg);
					}
				}

				.options-list {
					position: relative;
					margin-top: 25px;
					-webkit-transition: left $toggleTime;
					transition: left $toggleTime;

					.scroll-speed-controller {
						position: relative;
						margin-top: 25px;
						width: 70%;
						margin-left: auto;
						margin-right: auto;
						text-align: center;

						.scroll-controller-title {
							border-bottom: 5px  double #FFF;
							font-family: 'Digital Dream', 'sans serif';
							font-size: 14pt;
						}

						.scroll-controller-form {
							position: relative;
							display: inline-block;
							width: 90%;
							margin-top: 10px;

							.speed-indicator {
								position: absolute;
								display: inline-block;
								height: 50px;
								width: 50%;
								top: 25%;
								right: 5%;
								color: #FFF;
								background: #000;
								font-size: 20pt;
								border-radius: 5px;
								box-shadow: #000 10px 10px 10px;
								text-align: center;
							}
						}
					}
				}
			}
		}

		.main-wrapper {
			display: inline-block;
			position: relative;
			float: left;
			width: 100%;
			height: inherit;
			z-index: 5;
			float: right;
			-webkit-transition: width $toggleTime;
			transition: width $toggleTime;

			.swizzle-board {
				height: auto;
				width: 100%;
				overflow-x: scroll;
				overflow-y: hidden;
				-webkit-transition: height $toggleTime;
				transition: height $toggleTime;

				&.autoscroll {
					-webkit-marquee: left 1px infinite scroll fast;
					overflow-x: -webkit-marquee;
				}

				.swizzle-list {
					position: relative;
					height: 100%;
					width: auto;
					margin: 0;
					margin-top: 10px;
					margin-bottom: 10px;
					list-style-type: none;

					.swizzle-status {
						position: relative;
						display: inline-block;
						width: 460px;
						height: auto;
						margin-left: 15px;
						margin-right: 15px;
						background: #383830 url('black_lozenge/black_lozenge_@2X.png') repeat;
						border: 5px solid #000;
						vertical-align: top;
						text-align: center;
						color: yellow;
						word-wrap: break-word;
						border-radius: 5px;
						font-family: 'Pro-font Windows', 'sans-serif';
						font-size: 23pt;

					 	&.swizzle-error {
					 		margin-top: 3%;
							border-radius: 10px;

			 				.title {
				 				color: white;
				 				text-shadow: #001 0px -2px 0px;
				 				background: #001 url('swizzle_error.png') repeat-x;
				 				background-size: 128px;
								border-radius: 10px;
								font-size: 40px;
							}

							.swizzle-data {
								display: none;

								a {
									pointer-events: none;
								      cursor: default;
								}
							}
						}

						a {
							text-decoration: none;
							color: inherit;

							.title {
								position: relative;
								width: 100%;
								padding-top: 5px;
								font-size: 30pt;
								color: #000;
								background: yellow;
								border-radius: 2px;
							 	box-shadow: #000 0px 15px 20px;
							}
						}

						.swizzle-data {
							margin-top: 7px;
							width: 100%;

							h1 {
								padding-top: 10px;
								margin-bottom: -5px;
							}

							p {
								padding: 10px;
								width: inherit;
								height: auto;
							}

							.deployer {
								width: inherit;
								height: 70px;
								background: #000;
								text-shadow: yellow 0px 0px 10px;

								p {
									width: 94%;
									padding-top: 20px;
									padding-right: 10px;
									text-overflow: ellipsis;
									white-space: nowrap;
									overflow: hidden;
								}
							}

							.commit-code p {

								&:hover {
									cursor: pointer;
									text-shadow: #FFF 1px 1px 30px;
								}
							}

							.branch {
								width: 97%;
								height : auto;
								max-width: 450px;
								max-height: 90px;
								margin-left: auto;
								margin-right: auto;
								background: #000;
								border-radius: 5px;
								margin-bottom: 10px;
								border: 3px double yellow;
								box-shadow: yellow 0px 1px 15px;
								text-overflow: ellipsis;

								h1 {
									color: #FFF;
									padding: 10px;
									font-size: 28pt;
									text-shadow: #FFF 0px 0px 10px;
								}
							}
						}
					}
				}

				&.display-mode {

					.swizzle-list {

						.swizzle-status {
							width: auto;

							&.swizzle-error {
						 		margin-top: 2%;

				 				.title {
					 				background-size: 300px;
									max-width: 900px;

									h1 {
										margin-left: 20px;
										margin-right: 20px;
									}
								}
							}

							.deployed-date p {
								padding-bottom: 0px;
							}

							.deployer p {
								padding-top: 3px;
							}

							.branch {
								max-width: none;
								max-height: none;
								margin-top: 10px;

								h1 {
									white-space: nowrap;
									padding-left: 25px;
									padding-right: 50px;
									font-size: 70pt;
								}
							}

							h1 {
								font-size: 70pt;
							}

							p {
								font-size: 50pt;
								padding-left: 20px;
								padding-right: 20px;
							}
						}
					}
				}
			}

			.panel-board {
				position: relative;
				width: 100%;
				height: 100%;
				background: #333 url('panel_board_background.png') repeat;
				border-top: 3px solid #000;
				bottom: 0px;
				-webkit-transition: bottom $toggleTime;
				transition: bottom $toggleTime;

				&.display-mode {

					.display-mode-toggle {
						color: white;
						background: #000;

						p {
							text-shadow: yellow 0px 0px 15px;
						}
					}
				}
			}
		}

	}
}