// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
/* Reset code end */

$toggleTime: 200ms;
$swizzleHighliightColor: #25ff00;

.button{
	position: relative;
	width: 100px;
	height: 50px;
	border: 3px solid #000;
	border-radius: 5px;
	background: -webkit-linear-gradient(top, #FFF, #000 80%);
	text-align: center;

	p {
		position: relative;
		padding-top: 20px;
		left: inherit;
	}

	&.side-menu-toggle {
		position: absolute;
		width: 0px;
		height: 100%;
		-webkit-transition: left $toggleTime ;
		transition: left $toggleTime ;
		border: 3px solid #000;
		border-top: none;
		border-bottom: none;
		border-radius: 0;
		background: -webkit-linear-gradient(right, #FFF, gray 80%);
		left: -5px;
		cursor: pointer;
	}

	&.side-button {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
	}
}

::-webkit-scrollbar {
	display: none;
}

#autoscroll {
	-webkit-marquee: auto small infinite slide fast;
	overflow-x: -webkit-marquee;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: inherit;
	height: inherit;
	font-family: Consolas, monaco, monospace;
	overflow: hidden;

	.app-page {
		position: relative;
		width: inherit;
		height: inherit;
		background: lightblue url('sky_background.png') repeat;
		//background: -webkit-radial-gradient(white, blue);

		.side-wrapper{
			position: relative;
			width: 0px;
			height: inherit;
			float: left;
			color: white;
			text-align: center;
			background-color: #333;
			-webkit-transition: width $toggleTime;
			transition: width $toggleTime;
			z-index: 10;

			.side-board {
				width: 90%;
				height: 100%;
				height: inherit;
				border-right: 3px solid #000;
				background: #000 url('black_lozenge/black_lozenge_@2X.png') repeat;
				-webkit-transition: width $toggleTime;
				transition: width $toggleTime;

				.app-logo {
					width: 90%;
					height: 200px;
					margin-top: 10px;
					margin-left: auto;
					margin-right: auto;
					background: #000;
					background-size: 225px;
					border: 3px solid #000;
					border-radius: 10px;
					text-align: center;
					color: black;
				}

				.options-list {
					margin-top: 15px;
					position: relative;
					left: -100%;
					-webkit-transition: left $toggleTime;
					transition: left $toggleTime;
				}
			}
		}

		.main-wrapper {
			display: inline-block;
			position: relative;
			float: left;
			width: 100%;
			height: inherit;
			-webkit-transition: width $toggleTime;
			transition: width $toggleTime;
			z-index: 5;

			.swizzle-board {
				height: auto;
				width: 100%;
				overflow-y: hidden;
				overflow-x: scroll;

				.swizzle-list {
					position: relative;
					height: 100%;
					width: auto;
					margin: 0;
					margin-top: 10px;
					margin-bottom: 10px;
					list-style-type: none;

					.swizzle-status {
						position: relative;
						display: inline-block;
						width: 460px;
						height: 100%;
						margin-left: 30px;
						background: #000; //-webkit-linear-gradient(top, #FFF, #000 60%);
						border: 5px solid #000;
						vertical-align: top;
						text-align: center;
						color: white;
						word-wrap: break-word;
						box-shadow: 20px 15px 40px #000;

						a {
							text-decoration: none;
							color: inherit;

							.swizzle-title {
								position: relative;
								padding-top: 5px;
								font-size: 30px;
								color: $swizzleHighliightColor;
								border: 2px solid $swizzleHighliightColor;

							}

							.swizzle-data {
								margin-top: 5 px;

								p {
									font-size: 30px;
									padding: 10px;
									border-top: 3px double $swizzleHighliightColor;
								}
							}
						}
					}
				}
			}

			.panel-board {
				position: relative;
				width: 100%;
				height: 100%;
				background: #333 url('side_menu_background.png') repeat;
				border-top: 3px solid #000;
			}
		}

	}
}